a:active, a:hover, a:focus {
	outline: none;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Verdana', 'Geneva', sans-serif, arial;
	font-size: 20px;
	color: #000000;
	line-height:1.2;
        font-weight: normal;
        font-style: normal;
}


table {
	border-collapse:collapse;
}
* {
	margin:0;
}
a, img {
	line-height:0;
}
h1, h2, h3 {
	text-transform: capitalize;
	padding: 0;
}
h1 {
  font-size: 54px;
  font-weight: 700;
  padding-left: 21px;
  font-family: 'Roboto', sans-serif;
}
h2 {
	font-size: 68px;
	font-weight:bold;
}
h3 {
	color: #22aacc;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
	padding-left:21px;
	padding-top: 10px;
}
img {
	max-width: 100%;
}
.text-bold {
	font-weight: 700;
}
.details {
	background: #22aacc;
	color: #fff;
	font-size: 16px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 140px;
	float: left;
}
.name {
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 10px;
	width: 140px;
	float: left;
	line-height: 22px;
}
a.link {
	color: #22aacc;
	font-weight: 700;
	text-decoration: none;
}
.txt-normal {
	text-transform: none;
}
.label-name {
	
}
.lb-value {
	padding: 10px;
	font-size: 20px;
	padding-left: 15px;
	display: inline-block;
	vertical-align: middle;
}
.banner-parent img{
width: 100%;
height: 353px;
}
.main-title h3{
	padding-top: 20px !important;
}
.main-title h1{
	padding-top: 30px !important;

}
.apprasial{
position: relative;
bottom: 20px;
}
@media screen and (max-width: 600px) {
table {
	width: 100%;
}
h1 {
	font-size: 30px;
	
}
}
